In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
#read 
job_postings = pd.read_csv('job_postings_clean.csv')
job_postings.head()

,JOB ID,TITLE,DEPARTMENT,SALARY RANGE,COMPANY PROFILE,DESCRIPTION,REQUIREMENTS,BENEFITS,TELECOMMUTING,HAS COMPANY LOGO,HAS QUESTIONS,EMPLOYMENT TYPE,REQUIRED EXPERIENCE,REQUIRED EDUCATION,INDUSTRY,FUNCTION,FRAUDULENT,CITY,STATE,COUNTRY
0,1,Marketing Intern,Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0,New York,NY,US
1,2,Customer Service - Cloud Video Production,Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,Auckland,NaN,NZ
2,3,Commissioning Machinery Assistant (CMA),NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0,Wever,IA,US
3,4,Account Executive - Washington DC,Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,Washington,DC,US
4,5,Bill Review Manager,NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,Fort Worth,FL,US

In [10]:
Filtered = job_postings.filter(['COUNTRY','STATE'])
Filtered

      COUNTRY STATE
0          US    NY
1          NZ   NaN
2          US    IA
3          US    DC
4          US    FL
...       ...   ...
16682      CA    ON
16683      US    PA
16684      US    TX
16685      NG    LA
16686      NZ     N

[16687 rows x 2 columns]

In [11]:
groupby = Filtered.groupby(['COUNTRY', 'STATE'])
job_count_series = groupby["STATE"].nunique()
job_count_series.loc[("US")].unique()

array([1], dtype=int64)

In [12]:
job_count_series

COUNTRY  STATE
AE       AZ       1
         DU       1
AL       11       1
AM       ER       1
AT       5        1
                 ..
VN       65       1
ZA       EC       1
         GT       1
         NL       1
         WC       1
Name: STATE, Length: 390, dtype: int64